{% extends 'base.html' %}
{% block title %}
    AdoptaMex|Ciudades
{% endblock %}
{% block content %}
    <h1>Lista de Ciudades</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        {% for ciudad in ciudades %}
        <tr>
            <td>{{ ciudad.id_ciudad }}</td>
            <td>{{ ciudad.nombre_ciudad }}</td>
            <td>
                <a href="/editarCiudad/{{ ciudad.id_ciudad }}">Editar</a> |
                <a href="/eliminarCiudad/{{ ciudad.id_ciudad }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/registrarCiudad">Registrar nueva ciudad</a>
{% endblock %}