{%extends 'base.html'%}
{%block title%}
    AdoptaMex|Mascotas
{%endblock%}
{%block content%}
    <h1>Echa un vistazo a todas nuestras mascotas!</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Acciones (Restringido admin refugio)</th>
        </tr>
        {% for pet in pets %}
        <tr>
            <td><a href="/mascotaDetalles/{{ pet.id_mascota }}">{{ pet.id_mascota }}</a></td>
            <td>{{ pet.nombre }}</td>
            <td>{{ pet.especie }}</td>
            <td>
                <a href="/editarMascota/{{ pet.id_mascota }}">Editar</a> |
                <a href="/eliminarMascota/{{ pet.id_mascota }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/registrarMascota">Registrar nueva mascota (Restringido admin refugio)</a>
{%endblock%}

